.label {
  @include input-label;
}

:export {
  inputBorder: $input-border;
  inputPadding: $input-padding;
  droptDownIndicatorColor: $color-1;
  inputFontSize: 24px;
  optionFontSize: 18px;
  optionBorder: 1px solid $color-3;
  optionPadding: 10px 12px;
}