$color-0: #000;
$color-1: #4B4B4AFF;
$color-2: #A9A9A9FF;
$color-3: #DEE6F3FF;
$color-4: #4982e8;
$color-5: #25d743;
$color-6: #ffffff;
$color-7: #fdd008;
$input-border: 1px $color-3 solid;
$input-padding: 2px 0;